{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JerseyWorld | {% block title %} Home {% endblock title %}</title>

    <!-- Styles  -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/fontawesome/css/all.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/slick/slick/slick.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/slick/slick/slick-theme.css' %}"
    />
    {% block styles %}{% endblock styles %}
  </head>
  <body>

    <!--************ Navigation Starts ************* -->
    {% include 'core/inc/navigation.html' %}
    <!--************ Navigation Ends ************* -->
    

    {% block content %}{% endblock content %}

    <!-- Scripts -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery_migrate.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/slick/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
